<%= link_to "支出作成", new_outgo_path %>

<% @outgos.each do |outgo| %>
    <%= outgo.content %>
<% end %>

<%= month_calendar  events: @outgos do |date, events| %>
    <%= link_to date.day, outgos_path(that_day: date) %>
    <% events.each do |event| %>
        <% @cost += event.cost %>   
    <% end %>
    <div>
        <span class="bad"><%= @cost %></span>
    </div>
    <% @cost = 0 %>
<% end %>

<% @outgo_day.each do |outgo_day| %>
    <%= outgo_day.content %>
<% end %>