<%= form_with model: @outgo do |f| %>
    <p>支出内容</p>
    <%= f.text_field :content %>
    <p>金額</p>
    <%= f.text_field :cost %>
    <p>日付</p>
    <%= f.date_field :start_time %>
    <p>ジャンル</p>
    <%= f.collection_select :genre_id, Genre.all, :id, :name %>
    <%= f.submit "確定" %>
<% end %>

<%= form_with model: Foodstuff.new, url: foodstuffs_recognize_path, method: :post do |f| %>
    <%= f.file_field :image %>
    <%= f.submit "test" %>
<% end %>

<%= @ans %>
<%= @check %>