<%= form_with model: @outgo do |f| %>
    <p>支出内容</p>
    <%= f.text_field :content %>
    <p>金額</p>
    <%= f.number_field :cost, in: 1..20, step: 1 %>
    <p>日付</p>
    <%= f.date_field :day %>
    <p>ジャンル</p>
    <%= f.collection_select :genre_id, Genre.all, :id, :name %>
    <%#= f.hidden_field :start_time, :value => DateTime.now %>
    <%= f.submit "確定" %>
<% end %>