<div class="container">
    <div class="row mt-3">
        <div class="col-xl-6">
            <h3>冷蔵庫に残っている食材</h3>
            <table>
                <thead>
                    <tr>
                        <td>購入日</td>
                        <td>名前</td>
                        <td>個数</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <% @foodstuffs.each do |foodstuff| %>
                        <tr>
                            <td><%= foodstuff.created_at.strftime("%Y-%m-%d")%></td>
                            <td><%= foodstuff.name %></td>
                            <td>
                                <%= form_with model: foodstuff, method: :patch do |f| %>
                                    <%= f.select :amount, *[1..10] %>
                                    <%= f.submit "個数変更", class: "btn btn-outline-success" %>
                                <% end %>
                            </td>
                            <td><%= link_to "削除", foodstuff_path(foodstuff.id), method: :delete, class: "btn btn-outline-danger"%></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class="col-xl-6">
            <h3>食材追加</h3>
            <table>
                <%= form_with model: @foodstuff, url: foodstuffs_path, method: :post do |f| %>
                <tr>
                    <td>食材名</td>
                    <td><%= f.text_field :name %></td>
                </tr>
                <tr>
                    <td>個数</td>
                    <td><%= f.select :amount, *[1..10]%></td>
                </tr>
                <tr>
                    <td><%= f.submit "食材追加", class: "btn btn-outline-success"%></td>
                    <td></td>
                </tr>
                <% end %>
            </table> 
        </div>
    </div>
</div>