<!DOCTYPE html>
<html>
  <head>
    <title>KakeiboApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <% if user_signed_in? %>
            <%= link_to outgos_path, class: "nav-link text-light" do %>
              <i class="fas fa-home"></i>わたしの家計簿
            <% end %>
          <% else %>
            <%= link_to root_path, class: "nav-link text-light" do %>
              <i class="fas fa-home"></i>わたしの家計簿
            <% end %>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li>
                  <%= link_to new_outgo_path, class: "nav-link text-light" do %>
                    <i class="fas fa-money-check-alt"></i>支出作成
                  <% end %>
                </li>
                <li>
                  <%= link_to outgos_path, class: "nav-link text-light" do %>
                    <i class="fas fa-hand-holding-usd"></i>支出一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to salaries_path, class: "nav-link text-light" do %>
                  <i class="fas fa-piggy-bank"></i>給与一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to foodstuffs_path, class: "nav-link text-light" do %>
                  <i class="fas fa-utensils"></i>食材一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light" do %>
                  <i class="fas fa-sign-out-alt"></i>ログアウト
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to new_user_session_path, class: "nav-link text-light" do %>
                    <i class="fas fa-sign-in-alt"></i>サインイン
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_registration_path, class: "nav-link text-light" do %>
                  <i class="fas fa-user-plus"></i>サインアップ
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
